@charset "utf-8";
//@import url('https://fonts.googleapis.com/css?family=Noto Sans:400,600');

// Set your brand colors
$blue: #016FB9;

// Update Bulma's global variables
$primary: $blue;
$link: $blue;

//$box-shadow: 0 0 0.5em 0.2em rgba(#333333, 0.1), 0 0px 0 1px rgba(#333333, 0.02);
$box-shadow: 0 white;
$box-radius: 3px;

@import "../node_modules/bulma/bulma.sass";

code {
  color: $primary;
}

.box {
    box-shadow: 0 white;
    border-width: 0.1em;
    border-style: solid;
    border-color: #DDDDDD;
}

.type-heading {
    padding: 0.5em 0;
    border-width: 0 0 0.06em 0;
    border-style: solid;
    border-color: #DDDDDD;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}

.type-source-link {
    font-size: 0.7em;
    font-weight: normal;
}

.bottom-border {
    border-width: 0 0 0.06em 0;
    border-style: solid;
    border-color: #DDDDDD;
}
