<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>gRPC documentation</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
  </head>
  <body>
  <section class="section">
    <div class="container">
      {% for package in packages %}
        <h3 class="title is-3">
          Package <code>{{ package.name }}</code>
        </h3>

        <section class="section">
        {% for message in package.messages %}
        <p>
          <a href="#message-{{ message.full_name }}">
            <span class="tag">Message</span>
            <code>{{ message.name }}</code> 
          </a>
        </p>
        {% endfor %}

        {% for enum in package.enums %}
          <p>
            <a href="#enum-{{ enum.full_name }}">
              <span class="tag">Enum</span>
              <code>{{ enum.name }}</code> 
            </a>
          </p>
        {% endfor %}
        </section>

        <div>
            {{ package.description }}
        </div>

        <h4 class="title is-4">
          Messages
        </h4>

        {% for message in package.messages %}
          {% include 'templates/message.html.jinja' %} 
        {% endfor %}

        <h4 class="title is-4">
          Enums
        </h4>

        {% for enum in package.enums %}
          {% include 'templates/enum.html.jinja' %} 
        {% endfor %}

      {% endfor %}
    </div>
  </section>
  </body>
</html>
