<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>gRPC documentation</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
  </head>
  <body>
  <section class="section">
    <div class="container">
      {% for package in packages %}
        <h3 class="title is-3">
          Package <code>{{ package.name }}</code>
        </h3>

        <div class="block">
          {% for service in package.services %}
          <p>
            <a href="#service-{{ service.full_name }}">
              <span class="tag" style="min-width: 7em">Service</span>
              <code>{{ service.name }}</code> 
            </a>
          </p>
          {% endfor %}

          {% for message in package.messages %}
          <p>
            <a href="#message-{{ message.full_name }}">
              <span class="tag" style="min-width: 7em">Message</span>
              <code>{{ message.name }}</code> 
            </a>
          </p>
          {% endfor %}

          {% for enum in package.enums %}
            <p>
              <a href="#enum-{{ enum.full_name }}">
                <span class="tag" style="min-width: 7em">Enum</span>
                <code>{{ enum.name }}</code> 
              </a>
            </p>
          {% endfor %}
        </div>

        <div class="block">
            {{ package.description }}
        </div>

        <h4 class="title is-4">
          Messages
        </h4>

        {% for message in package.messages %}
        <div class="box">
          {% include 'templates/message.html.jinja' %} 
        </div>
        {% endfor %}

        <h4 class="title is-4">
          Enums
        </h4>

        {% for enum in package.enums %}
        <div class="box">
          {% include 'templates/enum.html.jinja' %} 
        </div>
        {% endfor %}

      {% endfor %}
    </div>
  </section>
  </body>
</html>
