<h5 class="title is-5" id="enum-{{ enum.full_name }}">
  <a href="#enum-{{ enum.full_name }}">enum <code title="{{ enum.full_name }}">{{ enum.name }}</code></a>
</h5>
<div class="block content">
  <p>{{ enum.description_html | safe }}</p>
</div>
<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Number</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
    {% for enum_value in enum.values %}
    <tr>
      <td><code>{{ enum_value.name }}</code></td>
      <td>{{ enum_value.number }}</td>
      <td class="content">{{ enum_value.description_html | safe }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
