{% import "templates/type_name.html" as common %}
<h5 class="title is-5 type-heading" id="message-{{ message.full_name }}">
  <!--<a href="#message-{{ message.full_name }}">message <code title="{{ message.full_name }}">{{ message.name }}</code></a>-->
  <a href="#message-{{ message.full_name }}">message <span title="{{ message.full_name }}">{{ message.name }}</span></a>
</h5>
<div class="block">
  <p>{{ message.description }}</p>
</div>
<table class="table is-fullwidth is-hoverable is-bordered">
  <thead>
    <tr>
      <th></th>
      <th>Field</th>
      <th>Type</th>
      <th>Description</th>
      <th>Default Value</th>
    </tr>
  </thead>
  <tbody>
    {% for field in message.fields %}
    <tr>
      <td>{{ field.number }}</td>
      <td>
        {{ field.name }}
      </td>
      <td>
        <code title="{{ field.full_type }}">
          {% if field.label != "" and field.label != "optional" %}
            {{ field.label }}
          {% endif %}
          {{ common.type_name(field) }}
        </code>
      </td>
      <td>{{ field.description }}</td>
      <td>{{ field.default_value }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
