<h5 class="title is-5 type-heading" id="message-{{ message.full_name }}">
  <a href="#message-{{ message.full_name }}">message <code title="{{ message.full_name }}">{{ message.name }}</code></a>
</h5>
<div class="block">
  <p>{{ message.description }}</p>
</div>
<table class="table is-fullwidth is-hoverable is-bordered">
  <thead>
    <tr>
      <th>Field</th>
      <th>Type</th>
      <th>Description</th>
      <th>Default Value</th>
    </tr>
  </thead>
  <tbody>
    {% for field in message.fields %}
    <tr>
      <td><code>{{ field.name }}</code></td>
      <td><code title="{{ field.full_type }}">{{ field.type }}</code></td>
      <td>{{ field.description }}</td>
      <td>{{ field.default_value }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
