<h5 class="title is-5 type-heading" id="service-{{ service.full_name }}">
  <a href="#service-{{ service.full_name }}">service <span title="{{ service.full_name }}">{{ service.name }}</span></a>
{% if service.repository_url %}
<br /><a style="font-size: 0.7em; font-weight: normal" href="{{ service.repository_url }}">{{ service.source_file_path }}</a>
{% endif %}
</h5>
<div class="block">
  <p>{{ service.description_html | safe }}</p>
</div>

{% for method in service.methods %}
<div class="box">
  <h6 class="title is-6">rpc <code>{{ method.name }} ({{ method.request_type }}) -> {{ method.response_type }}</code></h6>
  {% if method.description_html %}
  <div class="block">
    <p>{{ method.description_html | safe }}</p>
  </div>
  {% endif %}
</div>
{% endfor %}
